html, body {
    height: 100%;
    margin: 0;
}

.navbar-brand {
    font-family: 'Orbitron', sans-serif;
    padding: 0;
    position: relative;
    top: 1px;
    font-size: 30px;
    line-height: 1;
    padding: 0;
    color: var(--textColor);
}

.chat {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.chat-icon i {
    font-size: 30px;
}

.chat-icon:hover i {
    color: var(--mainColor2);
}

.hidden {
    display: none !important;
}

.category-box {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 10px;
}
.btn-line {
    background: none;
    height: 42px;
    width: auto;
    -webkit-transition: var(--transition);
    transition: var(--transition);
    padding: 15px 25px;
    color: var(--textColor);
    border: 1px solid var(--textColor);
    display: flex;
    border-radius: 5px;
    position: relative;
    font-size: var(--fontSize);
    font-weight: 500;
    overflow: hidden;
    align-items: center;
    justify-content: center;
}
.btn-line:hover {
    color: var(--subtextColor);
    border-color: var(--subtextColor);
}

/* 스크롤바 */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
::-webkit-scrollbar-track {
    background: #33343b;
    /* border-radius: 5px; */
}
::-webkit-scrollbar-thumb {
    background-color: #80848d;
    border-radius: 10px;
    /* border: 2px solid transparent;
    background-clip: padding-box; */
}
::-webkit-scrollbar-thumb:hover {
    background-color: #b0bec5;
}

/* 스크롤 다운 */
.go-bottom {
    position: fixed;
    cursor: pointer;
    bottom: 78px;
    right: 20px;
    background: #555;
    color: var(--whiteColor);
    z-index: 4;
    width: 43px;
    text-align: center;
    height: 45px;
    opacity: 0;
    visibility: hidden;
    font-size: 27px;
    -webkit-box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
    border-radius: 50%;
  }
  
  .go-bottom i {
    position: absolute;
    right: 0;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  
  .go-bottom.active {
    opacity: 1;
    visibility: visible;
  }
  
  .go-bottom:hover {
    background: #888;
    color: var(--whiteColor);
  }


/* -------------------- Header -------------------- */
.chat-header {
    position: fixed;
    top: 0;
    left: 0;
    height: 60px;
    width: 100%;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--mainBg);
    z-index: 9;
}
.chat-header .navbar-brand {
    margin-bottom: 0;
}
.chat-header .chat-btns a {
    margin-left: 10px;
}


/* -------------------- Main -------------------- */
.chat-body {
    background-color: var(--inputField);
    flex: 1;
    padding: 60px 0 58px;
}
.chat-body .message-box {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-height: calc(100vh - 118px);
    overflow-y: auto;
}
.chat-body .message {
    width: auto;
    max-width: 350px;
    display: inline-block;
    background-color: var(--sidebarBg);
    padding: 16px;
    border-radius: 12px;
    margin-bottom: 6px;
    word-wrap: break-word;
    box-sizing: border-box;
    box-shadow: 0 3px 10px 0 rgba(12, 38, 81, .16);
}
.chat-body .message span {
    color: var(--mainColor2);
}
.chat-body .message-server {
    min-width: 200px;
}
.chat-body .message-user {
    align-self: flex-end;
    background-color: #454753;
    color: var(--whiteColor);
    margin: 15px 0 20px;
}



/* -------------------- Footer -------------------- */
.chat-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 58px;
    width: 100%;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--mainBg);
    z-index: 9;
}

.chat-footer button {
    border-radius: 50%;
    border: none;
    background: none;
    color: var(--textColor);
}

.chat-footer .send-btn i {
    font-size: 24px;
}

.chat-footer textarea {
    width: 100%;
    height: 24px;
    background-color: transparent;
    color: var(--textColor);
    vertical-align: top;
    padding: 0 10px;
    border: none;
    outline: none;
    overflow: hidden;
    resize: none;
}

.chat-footer .chat-clear {
    color: var(--subtextColor);
    display: none;
}
.chat-footer .chat-clear:hover {
    color: var(--textColor);
}


