.footer-wrapper {
    --border-color: rgba(255, 255, 255, 0.3);
    position: relative;
    z-index: 2;
  }
  
  .footer-wrapper .th-social a {
    background-color: transparent;
    color: var(--white-color);
    border: 1px solid var(--white-color);
  }
  
  .footer-wrapper .th-social a:hover {
    background-color: var(--theme-color);
    border-color: var(--theme-color);
  }
  
  .widget-area {
    padding-top: var(--section-space);
    padding-bottom: 66px;
  }
  
  .footer-menu {
    margin: 0;
    padding: 0;
    /* Medium devices */
  }
  
  @media (max-width: 991px) {
    .footer-menu {
      text-align: center;
    }
  }
  
  .footer-menu li {
    display: inline-block;
    margin-right: 30px;
    /* Extra small devices */
  }
  
  @media (max-width: 575px) {
    .footer-menu li {
      margin-right: 5px;
    }
  }
  
  .footer-menu li a {
    position: relative;
    font-weight: 400;
    font-family: var(--body-font);
    font-size: 16px;
    line-height: 24px;
    color: var(--white-color);
    text-transform: capitalize;
    /* Extra small devices */
  }
  
  @media (max-width: 575px) {
    .footer-menu li a {
      font-size: 14px;
    }
  }
  
  .footer-menu li a:hover {
    color: var(--theme-color);
  }
  
  .footer-links ul {
    padding: 0;
    margin: 0;
  }
  
  .footer-links li {
    font-family: var(--body-font);
    display: inline-block;
    padding-right: 15px;
    margin-right: 10px;
    position: relative;
  }
  
  .footer-links li:after {
    content: "";
    height: 20px;
    width: 1px;
    background-color: var(--body-color);
    position: absolute;
    top: 50%;
    right: 0;
    margin: -10px 0;
  }
  
  .footer-links li:last-child {
    margin-right: 0;
    padding-right: 0;
  }
  
  .footer-links li:last-child:after {
    display: none;
  }
  
  .footer-links a {
    font-family: inherit;
    color: var(--body-color);
  }
  
  .footer-links a:hover {
    color: var(--theme-color);
  }
  
  .footer-info {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    min-width: 170px;
    margin-top: -0.4rem;
    margin-bottom: 0;
  }
  
  .footer-info:not(:last-child) {
    margin-top: 0;
    margin-bottom: 10px;
  }
  
  .footer-info_title {
    font-size: 18px;
    color: var(--white-color);
    display: block;
    margin-bottom: 7px;
  }
  
  .footer-info_icon {
    width: 26px;
    height: 26px;
    min-width: 26px;
    line-height: 26px;
    font-size: 14px;
    background-color: var(--theme-color);
    color: var(--white-color);
    text-align: center;
    border-radius: 5px;
    gap: 8px;
    margin-right: 10px;
  }
  
  .footer-info_text {
    display: block;
    color: var(--body-color);
    margin-top: -0.45em;
    margin-bottom: -0.45em;
    -webkit-align-self: center;
        -ms-flex-item-align: center;
            align-self: center;
  }
  
  .footer-info_link {
    display: inline-block;
    color: var(--body-color);
  }
  
  .footer-info_link:hover {
    color: var(--theme-color);
  }
  
  .copyright-wrap {
    padding: 22px 0;
    background-size: 100% auto;
  }
  
  .copyright-text {
    margin: 0;
  }
  
  .copyright-text a {
    color: var(--theme-color);
  }
  
  .copyright-text a:hover {
    color: var(--white-color);
  }
  
  .th-widget-contact {
    max-width: 265px;
  }
  
  .footer-contact {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 20px;
  }
  
  .footer-contact-wrap {
    display: grid;
    grid-template-columns: auto auto auto;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  
  .footer-contact_icon {
    width: 70px;
    height: 70px;
    line-height: 70px;
    min-width: 70px;
    font-size: 30px;
    background-color: var(--white-color);
    color: var(--theme-color);
    border-radius: 5px;
    text-align: center;
    position: relative;
  }
  
  .footer-contact_icon:before {
    content: "";
    height: 100%;
    width: 100%;
    background-color: var(--title-color);
    border-radius: inherit;
    position: absolute;
    top: -10px;
    left: -10px;
    z-index: -1;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
  }
  
  .footer-contact_icon:hover:before {
    top: 0;
    left: 0;
  }
  
  .footer-contact_text {
    display: block;
    color: var(--body-color);
    margin-bottom: 5px;
  }
  
  .footer-contact_link {
    display: inline-block;
    color: var(--body-color);
    font-size: 20px;
    font-weight: 600;
  }
  
  .footer-contact_link:hover {
    color: var(--title-color);
  }
  
  .info-box {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 21px;
  }
  
  .info-box:last-child {
    margin-bottom: -5px;
  }
  
  .info-box_icon {
    width: 30px;
    height: 30px;
    min-width: 30px;
    line-height: 29px;
    font-size: 14px;
    background-color: transparent;
    color: var(--theme-color);
    border: 1px solid var(--theme-color);
    border-radius: 999px;
    text-align: center;
    margin-right: 10px;
  }
  
  .info-box_text {
    display: block;
    color: var(--body-color);
    margin-top: -0.45em;
    margin-bottom: 0;
  }
  
  .info-box_link {
    display: inline-block;
    color: var(--body-color);
  }
  
  .info-box_link:hover {
    color: var(--theme-color);
  }
  
  .footer-newsletter {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 25px;
    padding-left: 60px;
  }
  
  .footer-newsletter .newsletter-title {
    max-width: 425px;
    margin-bottom: 0;
  }
  
  .footer-layout1 {
    background-color: #080e1c;
    --body-color: #fff;
    overflow: hidden;
  }
  
  .footer-layout1 .footer-top {
    background-color: var(--theme-color);
    position: relative;
    z-index: 2;
  }
  
  .footer-layout1 .footer-logo {
    padding: 45px 45px 45px 0;
  }
  
  .footer-layout1 .shape-left,
  .footer-layout1 .shape-right {
    position: absolute;
    z-index: -1;
  }
  
  .footer-layout1 .shape-left {
    top: 0;
    left: 0;
  }
  
  .footer-layout1 .shape-right {
    bottom: 65px;
    right: 0;
  }
  
  .footer-layout1 .logo-bg {
    position: absolute;
    left: 0;
    top: 0;
    background-color: var(--white-color);
    height: 101%;
    width: 33%;
    z-index: -1;
    -webkit-clip-path: polygon(100% 0, calc(100% - 60px) 50%, 100% 100%, 0 100%, 0 0);
            clip-path: polygon(100% 0, calc(100% - 60px) 50%, 100% 100%, 0 100%, 0 0);
  }
  
  .footer-layout1 .logo-bg:before {
    content: "";
    height: 100%;
    width: calc(100% - 10px);
    background-color: var(--title-color);
    position: absolute;
    top: 0;
    left: 0;
    -webkit-clip-path: polygon(100% 0, calc(100% - 60px) 50%, 100% 100%, 0 100%, 0 0);
            clip-path: polygon(100% 0, calc(100% - 60px) 50%, 100% 100%, 0 100%, 0 0);
  }
  
  /* Hight Resoulation devices */
  @media (min-width: 1922px) {
    .footer-layout1 .logo-bg {
      width: 37%;
    }
  }
  
  /* Extra large devices */
  @media (max-width: 1500px) {
    .footer-layout1 .logo-bg {
      width: 27%;
    }
    .footer-layout1 .shape-right {
      bottom: -20px;
      right: -70px;
    }
  }
  
  /* Medium Large devices */
  @media (max-width: 1299px) {
    .footer-layout1 .shape-left {
      max-width: 65%;
    }
  }
  
  /* Large devices */
  @media (max-width: 1199px) {
    .footer-layout1 .logo-bg {
      width: 100%;
      height: 170px;
      -webkit-clip-path: polygon(100% 0, 100% 100%, 50% calc(100% - 40px), 0 100%, 0 0);
              clip-path: polygon(100% 0, 100% 100%, 50% calc(100% - 40px), 0 100%, 0 0);
    }
    .footer-layout1 .logo-bg:before {
      width: 100%;
      height: calc(100% - 10px);
      -webkit-clip-path: polygon(100% 0, 100% 100%, 50% calc(100% - 40px), 0 100%, 0 0);
              clip-path: polygon(100% 0, 100% 100%, 50% calc(100% - 40px), 0 100%, 0 0);
    }
    .footer-layout1 .footer-logo {
      padding: 40px 15px 60px 15px;
      text-align: center;
    }
    .footer-contact-wrap {
      padding: 40px 0 30px 0;
    }
  }
  
  /* Medium devices */
  @media (max-width: 991px) {
    .footer-wrapper .widget-area {
      padding-top: var(--section-space-mobile);
      padding-bottom: 30px;
    }
    .footer-contact-wrap {
      grid-template-columns: auto auto;
      gap: 30px;
    }
    .copyright-text {
      text-align: center;
    }
  }
  
  /* Extra small devices */
  @media (max-width: 575px) {
    .copyright-wrap {
      background-size: cover;
    }
    .footer-contact {
      margin-left: 10px;
    }
    .footer-contact-wrap {
      grid-template-columns: auto;
    }
  }
  
  
  



  .footer-widget {
    margin-bottom: 50px;
  }
  
  .footer-widget,
  .footer-widget .widget {
    padding: 0;
    border: none;
    padding-bottom: 0;
    background-color: transparent;
    box-shadow: none;
  }
  
  .footer-widget .form-group > i {
    color: var(--theme-color);
    top: 18px;
  }
  
  .footer-widget .sidebar-gallery {
    max-width: 287px;
  }
  
  .footer-widget .widget_title {
    max-width: 270px;
    color: var(--white-color);
    font-weight: 600;
    text-transform: uppercase;
    margin: -0.12em 0 35px 0;
    padding: 0 0 17px 0;
  }
  
  .footer-widget .widget_title:before {
    content: '';
    height: 2px;
    width: 100px;
    background-color: var(--theme-color);
    position: absolute;
    left: 0;
    bottom: 0;
  }
  
  .footer-widget .widget_title:after {
    content: '';
    height: 10px;
    width: 10px;
    background-color: var(--white-color);
    position: absolute;
    bottom: -4px;
    left: 96px;
    border-radius: 99px;
    border: 2px solid var(--theme-color);
  }
  
  .footer-widget .widget_title.style2 {
    color: var(--white-color);
  }
  
  .footer-widget .widget_title.style2:before, .footer-widget .widget_title.style2:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 61px;
    height: 2px;
    background: -webkit-linear-gradient(top, var(--theme-color) 0%, var(--theme-color2) 100%);
    background: linear-gradient(180deg, var(--theme-color) 0%, var(--theme-color2) 100%);
  }
  
  .footer-widget .widget_title.style2:after {
    width: 16px;
    border: 2px solid var(--black-color);
    height: 10px;
    background: transparent;
    bottom: -3px;
    left: 40px;
    -webkit-animation: footerLine 7s linear infinite;
            animation: footerLine 7s linear infinite;
  }
  
  .footer-widget.widget_meta ul, .footer-widget.widget_pages ul, .footer-widget.widget_archive ul, .footer-widget.widget_categories ul, .footer-widget.widget_nav_menu ul {
    margin-top: -5px;
  }
  
  .footer-widget.widget_meta .menu,
  .footer-widget.widget_meta > ul, .footer-widget.widget_pages .menu,
  .footer-widget.widget_pages > ul, .footer-widget.widget_archive .menu,
  .footer-widget.widget_archive > ul, .footer-widget.widget_categories .menu,
  .footer-widget.widget_categories > ul, .footer-widget.widget_nav_menu .menu,
  .footer-widget.widget_nav_menu > ul {
    margin-bottom: -5px;
  }
  
  .footer-widget.widget_meta a, .footer-widget.widget_pages a, .footer-widget.widget_archive a, .footer-widget.widget_categories a, .footer-widget.widget_nav_menu a {
    font-size: 16px;
    font-weight: 400;
    padding: 0 0 0 20px;
    margin-bottom: 21px;
    font-family: var(--body-font);
    display: block;
    max-width: 100%;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    padding-right: 0;
    background-color: transparent;
    border-bottom: none;
    position: relative;
  }
  
  .footer-widget.widget_meta a:before, .footer-widget.widget_pages a:before, .footer-widget.widget_archive a:before, .footer-widget.widget_categories a:before, .footer-widget.widget_nav_menu a:before {
    content: "\f054";
    font-weight: 600;
    left: 0;
    top: 2px;
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
    font-size: 0.9em;
    background-color: transparent;
    border: none;
    color: inherit;
  }
  
  .footer-widget.widget_meta a:hover, .footer-widget.widget_pages a:hover, .footer-widget.widget_archive a:hover, .footer-widget.widget_categories a:hover, .footer-widget.widget_nav_menu a:hover {
    background-color: transparent;
    color: var(--theme-color);
  }
  
  .footer-widget.widget_meta a:hover:before, .footer-widget.widget_pages a:hover:before, .footer-widget.widget_archive a:hover:before, .footer-widget.widget_categories a:hover:before, .footer-widget.widget_nav_menu a:hover:before {
    color: var(--theme-color);
  }
  
  .footer-widget.widget_meta li > span, .footer-widget.widget_pages li > span, .footer-widget.widget_archive li > span, .footer-widget.widget_categories li > span, .footer-widget.widget_nav_menu li > span {
    width: auto;
    height: auto;
    position: relative;
    background-color: transparent;
    color: var(--body-color);
    line-height: 1;
  }
  
  .footer-widget.widget_meta li:last-child a, .footer-widget.widget_pages li:last-child a, .footer-widget.widget_archive li:last-child a, .footer-widget.widget_categories li:last-child a, .footer-widget.widget_nav_menu li:last-child a {
    margin-bottom: 0;
  }
  
  .footer-widget .recent-post {
    max-width: 315px;
    margin-top: -0.3em;
    margin-bottom: 28px;
  }
  
  .footer-widget .recent-post .post-title {
    color: var(--white-color);
    font-weight: 500;
  }
  
  .footer-widget .recent-post:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: 0;
  }
  
  .footer-widget .recent-post .recent-post-meta a {
    font-weight: 400;
    line-height: 1.2;
  }
  
  .footer-widget .recent-post .recent-post-meta i {
    color: var(--theme-color);
  }
  
  .footer-widget .recent-post .recent-post-meta a:hover i {
    color: var(--theme-color);
  }