@font-face {
  font-family: 'Orbitron';
  src: url('/assets/fonts/Orbitron-Medium.ttf') format('truetype');
  font-weight: 500; /* Medium */
  font-style: normal;
}

.navbar-area {
  position: sticky;
  background-color: var(--mainBg);
  border-bottom: 1px solid var(--navLine);
  z-index: 1000;
}
.navbar-area.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  -webkit-animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
  animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
  backdrop-filter: blur(10px);
  background-color: var(--navBg) !important;
  border-bottom: 1px solid var(--navLine);
}
.navbar-area .navbar {
  padding: 15px 20px;
}
.navbar-brand {
  font-family: 'Orbitron', sans-serif;
  padding: 0;
  position: relative;
  top: 1px;
  font-size: 30px;
  line-height: 1;
  padding: 0;
  color: var(--textColor);
}
.navbar-brand:focus, .navbar-brand:hover {
  color: var(--textColor);
}

.navbar-area .navbar .navbar-toggler {
  color: var(--textColor);
  font-size: inherit;
  box-shadow: unset;
  border: none;
  padding: 0;
}

.other-all-option {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  column-gap: 15px;
}

.navbar-area .navbar .navbar-toggler .burger-menu {
  cursor: pointer;
}
.navbar-area .navbar .navbar-toggler .burger-menu span {
  height: 3px;
  width: 30px;
  margin: 5px 0;
  display: block;
  background: var(--textColor);
}
.navbar-area .navbar ul {
  padding-left: 0;
  margin-bottom: 0;
  list-style-type: none;
}
.navbar-area .navbar .navbar-nav {
  margin-left: 60px;
  position: relative;
  top: 2px;
  margin: auto;
}
.navbar-area .navbar .navbar-nav .nav-item {
  position: relative;
  /* margin-right: 30px; */
  margin-right: 50px;
}
.navbar-area .navbar .navbar-nav .nav-item:last-child {
  margin-right: 0;
}
.navbar-area .navbar .navbar-nav .nav-item .nav-link {
  position: relative;
  color: var(--textColor);
  transition: var(--transition);
  font-weight: 500;
  font-size: 16px;
  padding-left: 0;
  padding-right: 0;
  padding-top: 25px;
  padding-bottom: 25px;
}
.navbar-area .navbar .navbar-nav .nav-item .nav-link:hover, .navbar-area .navbar .navbar-nav .nav-item .nav-link.active {
  color: var(--textColor);
}
.navbar-area .navbar .navbar-nav .nav-item:hover .dropdown-menu {
  opacity: 1;
  visibility: visible;
  transform: translate3d(0, 0, 0);
}
.navbar-area .navbar .navbar-nav .nav-item .dropdown-menu {
  left: 0;
  top: 65px;
  opacity: 0;
  z-index: 99;
  width: 467px;
  margin-top: 0;
  display: flex;
  justify-content: space-between;
  padding: 12px 30px;
  border-radius: 10px;
  position: absolute;
  visibility: hidden;
  /* background: var(--blackColor); */
  background: var(--mainBg);
  transition: all 0.2s ease-in-out;
  transform: translate3d(0, 18px, 0);
}

.navbar-area .navbar .navbar-nav .nav-item .dropdown-menu img {
  width: 280px;
  height: 200px;
  border-radius: 10px;
  aspect-ratio: 280 / 200; /* 비율 설정 */
  object-fit: cover;
}

.navbar-area .navbar .navbar-nav .nav-item .dropdown-menu .nav-item {
  margin: 0;
}
.navbar-area .navbar .navbar-nav .nav-item .dropdown-menu .nav-item .nav-link {
  display: block;
  padding: 8px 0;
  font-weight: 400;
  color: var(--textColor);
  position: relative;
}
.navbar-area .navbar .navbar-nav .nav-item .dropdown-menu .nav-item .nav-link.dropdown-toggle:after {
  display: inline-block;
  border: none;
  margin: 0;
}
.navbar-area .navbar .navbar-nav .nav-item .dropdown-menu .nav-item .nav-link:after {
  position: absolute;
  top: 50%;
  left: -30px;
  content: "";
  width: 2px;
  height: 0;
  background-color: var(--mainColor2);
  transform: translateY(-50%);
  visibility: hidden;
  opacity: 0;
  transition: var(--transition);
}
.navbar-area .navbar .navbar-nav .nav-item .dropdown-menu .nav-item .nav-link.active:after, .navbar-area .navbar .navbar-nav .nav-item .dropdown-menu .nav-item .nav-link:hover:after {
  visibility: visible;
  opacity: 1;
  height: 25px;
}
.navbar-area .navbar .navbar-nav .nav-item .dropdown-menu .nav-item .nav-link.dropdown-toggle::before{
  top: 60%;
  right: 0;
  transform: translateY(-50%) rotate(-90deg);
}
/* .navbar-area .navbar .navbar-nav .nav-item .dropdown-menu .nav-item .nav-link.dropdown-toggle::before {
  position: absolute;
  content: "\ea17";
  line-height: 1;
  right: 0;
  top: 24px;
  font-family: 'boxicons';
  font-size: 20px;
  font-weight: 400;
  color: var(--textColor);
} */
.navbar-area .navbar .navbar-nav .nav-item .dropdown-menu .nav-item .nav-link.active.dropdown-toggle::before {
  color: var(--mainColor2);
}
.navbar-area .navbar .navbar-nav .nav-item .dropdown-menu .nav-item .nav-link:hover.dropdown-toggle::before {
  color: var(--mainColor2);
}
.navbar-area .navbar .navbar-nav .nav-item .dropdown-menu .nav-item .nav-link.active, .navbar-area .navbar .navbar-nav .nav-item .dropdown-menu .nav-item .nav-link:hover {
  color: var(--mainColor2);
}
.navbar-area .navbar .navbar-nav .nav-item .dropdown-menu .nav-item:last-child .nav-link {
  border-bottom: none;
}
.navbar-area .navbar .navbar-nav .nav-item .dropdown-menu .nav-item .dropdown-menu {
  top: -50px;
  opacity: 0;
  left: 207px;
  margin-top: 0;
  visibility: hidden;
  transform: translate3d(0, 18px, 0);
}
.navbar-area .navbar .navbar-nav .nav-item .dropdown-menu .nav-item .dropdown-menu .nav-item .nav-link {
  color: var(--whiteColor);
}
.navbar-area .navbar .navbar-nav .nav-item .dropdown-menu .nav-item .dropdown-menu .nav-item .nav-link.active, .navbar-area .navbar .navbar-nav .nav-item .dropdown-menu .nav-item .dropdown-menu .nav-item .nav-link:hover {
  color: var(--mainColor2);
}
.navbar-area .navbar .navbar-nav .nav-item .dropdown-menu .nav-item .dropdown-menu .nav-item .nav-link:hover .dropdown-menu {
  opacity: 1;
  visibility: visible;
  transform: translate3d(0, 0, 0);
}
.navbar-area .navbar .navbar-nav .nav-item .dropdown-menu .nav-item .dropdown-menu .nav-item .dropdown-menu {
  top: 0;
  opacity: 0;
  left: -100%;
  visibility: hidden;
  transform: translate3d(0, 18px, 0);
}
.navbar-area .navbar .navbar-nav .nav-item .dropdown-menu .nav-item .dropdown-menu .nav-item .dropdown-menu .nav-item .nav-link {
  color: var(--whiteColor);
}
.navbar-area .navbar .navbar-nav .nav-item .dropdown-menu .nav-item .dropdown-menu .nav-item .dropdown-menu .nav-item .nav-link:hover, .navbar-area .navbar .navbar-nav .nav-item .dropdown-menu .nav-item .dropdown-menu .nav-item .dropdown-menu .nav-item .nav-link.active {
  color: var(--mainColor2);
}
.navbar-area .navbar .navbar-nav .nav-item .dropdown-menu .nav-item .dropdown-menu .nav-item .dropdown-menu .nav-item:hover .dropdown-menu {
  opacity: 1;
  visibility: visible;
  transform: translate3d(0, 0, 0);
}
.navbar-area .navbar .navbar-nav .nav-item .dropdown-menu .nav-item .dropdown-menu .nav-item .dropdown-menu .nav-item .dropdown-menu {
  top: 0;
  opacity: 0;
  left: 100%;
  visibility: hidden;
  transform: translate3d(0, 18px, 0);
}
.navbar-area .navbar .navbar-nav .nav-item .dropdown-menu .nav-item:hover .dropdown-menu {
  opacity: 1;
  visibility: visible;
  transform: translate3d(0, 0, 0);
}
.navbar-area .navbar .navbar-nav .nav-item .dropdown-toggle:after {
  display: none;
}
.navbar-area .navbar .navbar-nav > .nav-item > .nav-link.dropdown-toggle:after {
  display: inline-block;
  margin-left: 0;
  border: none;
}
.navbar-area .navbar .navbar-nav > .nav-item > .nav-link:after {
  position: absolute;
  bottom: 20px;
  left: 0;
  content: "";
  width: 0%;
  height: 2px;
  background-color: var(--mainColor2);
  visibility: hidden;
  opacity: 0;
  transition: var(--transition);
}
.navbar-area .navbar .navbar-nav > .nav-item > .nav-link.active:after, .navbar-area .navbar .navbar-nav > .nav-item > .nav-link:hover:after {
  visibility: visible;
  opacity: 1;
  width: 100%;
}
.navbar-area .navbar .others-option {
  position: relative;
  margin-left: 30px;
  top: 3px;
}
.navbar-area .navbar .others-option .option-item .mypage-button  {
  color: var(--textColor);
  font-size: 30px;
  background: none;
  border: none;
  display: contents;
}
.navbar-area .navbar .others-option .option-item:last-child a:hover {
  color: var(--textColor);
}
@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
  to {
    opacity: 1;
    transform: translateZ(0);
  }
}
.responsive-navbar {
  border: 0 !important;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #121212;
}
.responsive-navbar .offcanvas-header {
  margin: 20px 22px 0;
  border-bottom: 1px solid var(--borderColor);
  position: relative;
  z-index: 2;
  padding: 0 0 20px 0
}
.responsive-navbar .offcanvas-header .close-btn {
  background-color: transparent;
  color: var(--whiteColor);
  position: relative;
  font-size: 26px;
  cursor: pointer;
  line-height: 1;
  padding: 0;
  border: 0;
  top: 2px;
}
.responsive-navbar .offcanvas-header .close-btn:hover {
  color: var(--mainColor2);
}
.responsive-navbar .offcanvas-header .btn-close {
  box-shadow: none;
}
.responsive-navbar .offcanvas-body {
  padding: 30px 25px;
  position: relative;
  z-index: 2;
}
.responsive-navbar .offcanvas-body .accordion .accordion-item {
  border: 0;
  padding: 0;
  border-radius: 0;
  margin-bottom: 20px;
  color: var(--whiteColor);
  background-color: transparent;
  box-shadow: none;
}
.responsive-navbar .offcanvas-body .accordion .accordion-item:last-child {
  margin-bottom: 0;
}
.responsive-navbar .offcanvas-body .accordion .accordion-item .accordion-button {
  width: 100%;
  display: block;
  box-shadow: unset;
  position: relative;
  padding: 0 18px 0 0;
  color: var(--whiteColor);
  background-color: transparent;
  transition: var(--transition);
  font-weight: 500;
  font-size: 16px;
  box-shadow: none;
}
.responsive-navbar .offcanvas-body .accordion .accordion-item .accordion-button.without-icon:before {
  display: none;
}
.responsive-navbar .offcanvas-body .accordion .accordion-item .accordion-button:before {
  transform: translateY(-50%);
  position: absolute;
  margin-top: -1px;
  line-height: 1;
  right: -2px;
  top: 50%;
  content: "\ea1d";
  font-family: 'boxicons';
  font-size: 15px;
  font-weight: 400;
  color: var(--whiteColor);
}
.responsive-navbar .offcanvas-body .accordion .accordion-item .accordion-button:after {
  display: none;
}
.responsive-navbar .offcanvas-body .accordion .accordion-item .accordion-button:hover, .responsive-navbar .offcanvas-body .accordion .accordion-item .accordion-button.active {
  color: var(--mainColor2);
}

.responsive-navbar .offcanvas-body .accordion .accordion-item .accordion-link {
  font-weight: 500;
  font-size: 16px;
}
.responsive-navbar .offcanvas-body .accordion .accordion-item .accordion-collapse .accordion-body {
  padding: 20px;
  margin-top: 12px;
  border: none;
  background-color: transparent;
}
.responsive-navbar .offcanvas-body .accordion .accordion-item .accordion-collapse .accordion-body .accordion-item {
  color: var(--whiteColor);
  margin-bottom: 15px;
  border-bottom: none;
  padding-bottom: 0;
}
.responsive-navbar .offcanvas-body .accordion .accordion-item .accordion-collapse .accordion-body .accordion-item:last-child {
  margin-bottom: 0;
}
.responsive-navbar .offcanvas-body .accordion .accordion-item .accordion-collapse .accordion-body .accordion-item .accordion-link {
  width: 100%;
  display: block;
  color: var(--whiteColor);
  background-color: transparent;
  font-size: 15px;
  font-weight: 400;
}
.responsive-navbar .offcanvas-body .accordion .accordion-item .accordion-collapse .accordion-body .accordion-item .accordion-link:hover, .responsive-navbar .offcanvas-body .accordion .accordion-item .accordion-collapse .accordion-body .accordion-item .accordion-link.active {
  color: var(--mainColor2);
}
.responsive-navbar .offcanvas-body .accordion .accordion-item .accordion-collapse .accordion-body .accordion-item .accordion-button {
  width: 100%;
  display: block;
  box-shadow: unset;
  position: relative;
  padding: 0 18px 0 0;
  background-color: transparent;
  font-size: 15px;
  font-weight: 500;
}
.responsive-navbar .offcanvas-body .accordion .accordion-item .accordion-collapse .accordion-body .accordion-item .accordion-button:after {
  display: none;
}
.responsive-navbar .offcanvas-body .accordion .accordion-item .accordion-collapse .accordion-body .accordion-item .accordion-collapse .accordion-body {
  background-color: transparent;
}
.responsive-navbar .offcanvas-body .accordion .accordion-item .accordion-collapse .accordion-body .accordion-item .accordion-collapse .accordion-body .accordion-item .accordion-link {
  color: var(--whiteColor);
}
.responsive-navbar .offcanvas-body .accordion .accordion-item .accordion-collapse .accordion-body .accordion-item .accordion-collapse .accordion-body .accordion-item .accordion-link:hover, .responsive-navbar .offcanvas-body .accordion .accordion-item .accordion-collapse .accordion-body .accordion-item .accordion-collapse .accordion-body .accordion-item .accordion-link.active {
  color: var(--mainColor2);
}
.responsive-navbar .offcanvas-body .accordion .accordion-item .accordion-collapse .accordion-body .accordion-item .accordion-collapse .accordion-item .accordion-collapse .accordion-body {
  background-color: transparent;
}
.responsive-navbar .offcanvas-body .accordion .accordion-item .accordion-link {
  color: var(--whiteColor);
}
.responsive-navbar .offcanvas-body .accordion .accordion-item .accordion-link.active, .responsive-navbar .offcanvas-body .accordion .accordion-item .accordion-link:hover {
  color: var(--mainColor2);
}
.responsive-navbar .offcanvas-body .offcanvas-contact-info {
  margin-top: 30px;
  padding-top: 30px;
  border-top: 1px solid #333333;
}
.responsive-navbar .offcanvas-body .offcanvas-contact-info h4 {
  margin-bottom: 25px;
  font-weight: 600;
  color: var(--whiteColor);
}
.responsive-navbar .offcanvas-body .contact-info {
  margin-top: 10px;
}
.responsive-navbar .offcanvas-body .social-profile {
  margin-top: 30px;
  margin-bottom: 30px;
  list-style: none;
  padding: 0;
}
.responsive-navbar .offcanvas-body .social-profile li {
  margin: 0 5px 0 0;
  display: inline-block;
}
.responsive-navbar .offcanvas-body .social-profile li a {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  width: 32px;
  height: 32px;
  border-radius: 4px;
}
.responsive-navbar .offcanvas-body .social-profile li a i {
  color: var(--whiteColor);
  font-size: 18px;
  line-height: 0.8;
  display: block;
  margin: 0 auto;
}

@media only screen and (max-width: 992px) {
  .navbar-area.sticky .navbar {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .navbar-area.sticky {
    padding: 0;
  }
  .navbar-area .navbar {
    padding: 15px 0;
  }
  .navbar-area .navbar .navbar-brand {
    font-size: 30px;
  }
  .navbar-area .navbar .other-option .option-item:last-child {
    margin-right: 0;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .navbar-area .container {
    max-width: 990px;
  }
  .navbar-area .navbar .navbar-brand {
    font-size: 32px;
  }
  .navbar-area .navbar .navbar-nav > .nav-item {
    margin-right: 35px;
  }
  .navbar-area .navbar .navbar-nav > .nav-item .nav-link {
    font-size: 16px;
  }
  .navbar-area .navbar .others-option .option-item .default-btn {
    font-size: 15px;
    padding: 12px 16px 12px 16px;
  }
  .navbar-area .navbar .navbar-nav > .nav-item .dropdown-menu .nav-item .nav-link {
    font-size: 16px;
  }
  .navbar-area .navbar .others-option {
    margin-left: 12px;
  }
  .navbar-area .navbar .others-option .option-item {
    margin-left: 12px;
  }
  .navbar-area .navbar .others-option .option-item .search-form {
    max-width: 90px;
  }
  .navbar-area .navbar .others-option .option-item .search-form input {
    font-size: 14px;
  }
}
@media only screen and (min-width: 1200px) and (max-width: 1299px) {
  .navbar-area .container {
    max-width: 1200px;
  }
  .navbar-area .navbar .navbar-brand {
    max-width: 120px;
  }
  .navbar-area .navbar .navbar-nav > .nav-item {
    margin-right: 40px;
  }
  .navbar-area .navbar .navbar-nav > .nav-item .nav-link {
    font-size: 17px;
  }
  .navbar-area .navbar .navbar-nav > .nav-item .dropdown-menu .nav-item .nav-link {
    font-size: 16px;
  }
  .navbar-area .navbar .others-option {
    margin-left: 0px;
  }
  .navbar-area .navbar .others-option .option-item {
    margin-left: 20px;
  }
  .navbar-area .navbar .others-option .option-item:first-child{
    margin-left: 0px;
  }
  .navbar-area .navbar .others-option .option-item .search-form {
    max-width: 90px;
  }
  .navbar-area .navbar .others-option .option-item .search-form input {
    font-size: 14px;
  }
}
@media only screen and (min-width: 1300px) and (max-width: 1399px) {
  .navbar-area .container {
    max-width: 1300px;
  }
  .navbar-area .navbar .navbar-brand {
    max-width: 120px;
  }
  .navbar-area .navbar .navbar-nav > .nav-item {
    margin-right: 40px;
  }
  .navbar-area .navbar .navbar-nav > .nav-item .nav-link {
    font-size: 17px;
  }
  .navbar-area .navbar .navbar-nav > .nav-item .dropdown-menu .nav-item .nav-link {
    font-size: 16px;
  }
  .navbar-area .navbar .others-option {
    margin-left: 15px;
  }
  .navbar-area .navbar .others-option .option-item {
    margin-left: 12px;
  }
  .navbar-area .navbar .others-option .option-item .search-form {
    max-width: 90px;
  }
  .navbar-area .navbar .others-option .option-item .search-form input {
    font-size: 14px;
  }
  .navbar-area .navbar .others-option .option-item:last-child a img {
    margin-right: 5px;
  }
}
@media only screen and (min-width: 1400px) and (max-width: 1599px) {
  .navbar-area .container {
    max-width: 1400px;
  }
  .navbar-area .navbar .navbar-nav > .nav-item {
    margin-right: 50px;
  }
  .navbar-area .navbar .navbar-nav > .nav-item .nav-link {
    font-size: 17px;
  }
  .navbar-area .navbar .navbar-nav > .nav-item .dropdown-menu .nav-item .nav-link {
    font-size: 16px;
  }
  .navbar-area .navbar .others-option {
    margin-left: 0px;
  }
  .navbar-area .navbar .others-option .option-item:first-child{
    margin-left: 0px;
  }
  .navbar-area .navbar .others-option .option-item {
    margin-left: 20px;
  }
}
@media only screen and (min-width: 1600px) {
  .navbar-area .container {
    max-width: 1580px;
  }
  .navbar-area .navbar .navbar-nav {
    top: 4px;
  }
  .navbar-area .navbar .navbar-nav > .nav-item {
    margin-right: 50px;
  }
  .navbar-area .navbar .others-option .option-item {
    margin-left: 30px;
  }
  .navbar-area .navbar .others-option .option-item:nth-child(2), .navbar-area .navbar .others-option .option-item:nth-child(4) {
    position: relative;
    top: 2px;
  }
}
@media only screen and (min-width: 1920px) {
  .navbar-area .container {
    max-width: 1605px;
  }
  .navbar-area .others-option .option-item {
    margin-left: 30px;
  }
}/*# sourceMappingURL=header.css.map */


/* 내비게이션 이미지 */
@media only screen and (max-width: 1310px) {
  .navbar-area .navbar .navbar-nav .nav-item .dropdown-menu { width: 230px; }
  .navbar-area .navbar .navbar-nav .nav-item .dropdown-menu img { display: none; }
}
@media only screen and (min-width: 1311px) {
  body.en .navbar-area .navbar .navbar-nav .nav-item .dropdown-menu.custom-w500 { width: 500px; }
  body.en .navbar-area .navbar .navbar-nav .nav-item .dropdown-menu.custom-w480 { width: 480px; }
}


/* 테마 */
.theme-switcher {
  height: 30px;
  width: 30px;
  transition: var(--transition);
}

/* 언어 */
.language-switcher-pc, .language-switcher-mo {
  cursor: pointer;
}
.language-switcher-mo p {
  color: #7A7A7A;
  font-size: 18px;
}
/* .language-switcher-mo .active {
  color: var(--whiteColor);
  text-decoration: underline;
} */
body.kr .lang_1, body.en .lang_2 {
  color: var(--whiteColor);
  text-decoration: underline;
}
.language-switcher-mo .lang_1 {
  margin-right: 10px; 
}

/* 모바일 마이페이지 버튼 */
.responsive-navbar .offcanvas-body .offcanvas-contact-info i {
  margin-right: 10px;
}
